*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f6fa;
}
.app{
    display: flex;
    justify-content: space-evenly;
}
.app__left{
    flex: 0.9;
}
.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.app__right{
    display: flex;
    flex-direction: column;
}
.app__right .MuiCardContent-root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app__graph{
    flex-grow: 1;
}

.app__stats{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px){
    .app{
        flex-direction: column;
    }
}